**DAY 1**

In [1]:

integer_var = 10
float_var = 3.14
string_var = "Hello, world!"
boolean_var = True


print("Integer variable:", integer_var, "Type:", type(integer_var))
print("Float variable:", float_var, "Type:", type(float_var))
print("String variable:", string_var, "Type:", type(string_var))
print("Boolean variable:", boolean_var, "Type:", type(boolean_var))

Integer variable: 10 Type: <class 'int'>
Float variable: 3.14 Type: <class 'float'>
String variable: Hello, world! Type: <class 'str'>
Boolean variable: True Type: <class 'bool'>

**DAY 2**

In [2]:

my_list = [1, 2, 3, 4, 5]


print("Element at index 0:", my_list[0])
print("Element at index 2:", my_list[2])
print("Element at index 4:", my_list[4])


string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 1:", string_list[1])
print("Element at index 3:", string_list[3])

Element at index 0: 1
Element at index 2: 3
Element at index 4: 5
Element at index 1: banana
Element at index 3: date

**DAY 3**

In [4]:

def calculate_grade(marks1, marks2, marks3):
    average = (marks1 + marks2 + marks3) / 3

    if average >= 90:
        grade = "A"
    elif 80 <= average < 90:
        grade = "B"
    elif 70 <= average < 80:
        grade = "C"
    else:
        grade = "Fail"

    return grade

marks1 = float(input("Enter marks for subject 1: "))
marks2 = float(input("Enter marks for subject 2: "))
marks3 = float(input("Enter marks for subject 3: "))

grade = calculate_grade(marks1, marks2, marks3)
print("Grade:", grade)

Enter marks for subject 1:  2
Enter marks for subject 2:  2
Enter marks for subject 3:  2

Grade: Fail

**DAY 4**

In [5]:
def sum_of_even_numbers(n):
    total = 0
    for i in range(2, n + 1, 2):
        total += i
    return total

n = int(input("Enter a positive integer: "))

if n > 0:
    sum_even = sum_of_even_numbers(n)
    print("The sum of all even numbers between 1 and", n, "is:", sum_even)
else:
    print("Please enter a positive integer.")

Enter a positive integer:  6

The sum of all even numbers between 1 and 6 is: 12

**DAY 5**

In [6]:
n = int(input("Enter a positive integer: "))

print("Numbers from 1 to", n, "are:")
for i in range(1, n + 1):
    print(i)

total_sum = 0
i = 1
while i <= n:
    total_sum += i
    i += 1

print("The sum of all numbers from 1 to", n, "is:", total_sum)

Enter a positive integer:  5

Numbers from 1 to 5 are:
1
2
3
4
5
The sum of all numbers from 1 to 5 is: 15

In [7]:
def calculate_square(n):
    return n * n

n = int(input("Enter a positive integer: "))

square = calculate_square(n)
print("The square of", n, "is:", square)

Enter a positive integer:  5

The square of 5 is: 25

**DAY 6**

In [12]:
import pandas as pd

data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 23, 29],
    "Department": ["HR", "IT", "Marketing", "Finance"],
    "Salary": [45000, 60000, 35000, 50000]
}


df = pd.DataFrame(data)

print("First 2 rows of the DataFrame:")
print(df.head(2))

df["Bonus"] = df["Salary"] * 0.1
print("\nDataFrame with Bonus column added:")
print(df)

average_salary = df["Salary"].mean()
print("\nAverage Salary of employees:", average_salary)

filtered_employees = df[df["Age"] > 25]
print("\nEmployees who are older than 25:")
print(filtered_employees)

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

DataFrame with Bonus column added:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

Average Salary of employees: 47500.0

Employees who are older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0

**DAY 7**

In [18]:
import pandas as pd

df = pd.read_csv('Day_7_sales_data (1).csv')

print("First 5 rows of the dataset:")
print(df.head())

print("\nBasic statistics of the numerical columns:")
print(df.describe())

total_sales_by_region = df.groupby('Region')['Sales'].sum()
print("\nTotal sales for each region:")
print(total_sales_by_region)

most_sold_product = df.groupby('Product')['Quantity'].sum().idxmax()
print("\nMost sold product (based on quantity):")
print(most_sold_product)

df['Profit Margin'] = (df['Profit'] / df['Sales']) * 100
average_profit_margin_by_product = df.groupby('Product')['Profit Margin'].mean()
print("\nAverage profit margin for each product:")
print(average_profit_margin_by_product)

First 5 rows of the dataset:
         Date Product Region    Sales  Profit  Quantity
0  2023-01-02  Tablet   East  1061.81  236.12         7
1  2023-01-06  Laptop  North  1926.07  246.34         8
2  2023-01-03  Tablet   East  1597.99  253.17         3
3  2023-01-20  Tablet  North  1397.99  242.23         1
4  2023-01-04  Laptop   West   734.03  140.36         4

Basic statistics of the numerical columns:
             Sales      Profit   Quantity
count    20.000000   20.000000  20.000000
mean   1186.553000  211.533000   5.050000
std     461.528444   66.916251   2.543826
min     530.880000   82.160000   1.000000
25%     774.517500  166.515000   2.750000
50%    1104.865000  214.670000   5.000000
75%    1571.080000  248.047500   7.250000
max    1954.860000  364.970000   9.000000

Total sales for each region:
Region
East      5818.93
North    10449.68
South      936.84
West      6525.61
Name: Sales, dtype: float64

Most sold product (based on quantity):
Tablet

Average profit margin for each product:
Product
Keyboard      20.080696
Laptop        17.112734
Monitor       15.134989
Smartphone    23.703647
Tablet        19.955758
Name: Profit Margin, dtype: float64